.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    border: 10px solid purple;
    padding: 2rem;
    border-radius: 10px;
}